<!DOCTYPE html>
<html lang="en">

<head>
 <!--head-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Arthas-Web开发部</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/stylesheets/plugin/layui/layui.css">
  <!-- Bootstrap Core CSS -->
  <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- jQuery -->
  <script src="/javascripts/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="/javascripts/plugins/layui/layui.all.js"></script>
  <script src="/javascripts/common/common.js"></script>
  <!--Beyond styles-->
  <link id="beyond-link" href="/assets/css/beyond.min.css" rel="stylesheet"/>
  <link href="/assets/css/demo.min.css" rel="stylesheet"/>
  <link href="/assets/css/typicons.min.css" rel="stylesheet"/>
  <link href="/assets/css/animate.min.css" rel="stylesheet"/>
  <link id="skin-link" href="" rel="stylesheet" type="text/css"/>
  <script src="/assets/js/skins.min.js"></script>
</head>

 <!--/head-->
  <style>
    .dropdown-menu{
      min-width: 120px;
    }
    .dropdown-menu li a{

    }
    .dropdown-menu>li>a .label{
      width: 100%;
      padding:5px 10px;
      background: #427fed!important;
    }
    .navbar .navbar-inner {
      background: #ff8f32;
    }
    .navbar .navbar-brand{
      padding:0
    }
  </style>
</head>

<body>
<div id="app"></div>
</body>

</html>
